@font-face {
  font-family: "iconfont"; /* Project id 2538225 */
  src:url('~@/static/fonts/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-qiyegongchangjianzhu:before {
  content: "\e802";
}

.icon-gongchang:before {
  content: "\e6aa";
}

.icon-gongchang1:before {
  content: "\e610";
}

.icon-riqi:before {
  content: "\e612";
}

.icon-calendar:before {
  content: "\e9ab";
}

.icon-huagongchang:before {
  content: "\e603";
}

.icon-chuzhigongchang:before {
  content: "\e605";
}

.icon-40:before {
  content: "\e630";
}

.icon-shijian:before {
  content: "\e602";
}

.icon-shijian1:before {
  content: "\e64d";
}

.icon-shijian2:before {
  content: "\e665";
}

.icon-shaixuan:before {
  content: "\e888";
}

.icon-shijian3:before {
  content: "\e8a9";
}

.icon-shaixuan1:before {
  content: "\e8b4";
}

.icon-shaixuan_o:before {
  content: "\eb4c";
}

.icon-bucaoxidi:before {
  content: "\e62e";
}

.icon-jinri:before {
  content: "\e619";
}

.icon-jintian:before {
  content: "\e672";
}

.icon-huizongshuju:before {
  content: "\e604";
}

.icon-banbengengxin:before {
  content: "\e63c";
}

.icon-banbenjiance:before {
  content: "\e641";
}

.icon-tuichu:before {
  content: "\e61c";
}

.icon-exit:before {
  content: "\e88a";
}

.icon-tuichu1:before {
  content: "\e61b";
}

.icon-banbenshengji-05:before {
  content: "\e62c";
}

.icon-dangqianbanben:before {
  content: "\e69a";
}

.icon-xiugaimima:before {
  content: "\e60a";
}

.icon-dianji:before {
  content: "\e601";
}

.icon-dianji1:before {
  content: "\e815";
}

.icon-0-46:before {
  content: "\e606";
}

.icon-gerenzhongxin:before {
  content: "\e650";
}

.icon-daifukuan:before {
  content: "\e66a";
}

.icon-servicezengyunfeixian:before {
  content: "\e600";
}

.icon-tubiao_dianpushanghuzhongxin-zengpiaoduijiang:before {
  content: "\e68c";
}

.icon-fuzhaiqingkuang:before {
  content: "\e62a";
}

.icon-qiankuan:before {
  content: "\e65a";
}

.icon-qiankuan2:before {
  content: "\e68f";
}

.icon-yue:before {
  content: "\e62b";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e608";
}

.icon-saleordertempSend:before {
  content: "\e658";
}

.icon-yue1:before {
  content: "\e6b7";
}

.icon-icon-zengsong:before {
  content: "\e66e";
}